@import "syntax-variables";
@import "ui-variables";

@keyframes demo-mode-fadeout {
    0% { opacity: 1; }
  100% { opacity: 0; }
}

.demo-mode-container {
  z-index: 2147483647;
  position: absolute;
  min-width: 22em;
  padding: 0.3em 1em;

  color: @text-color-highlight;
  background-color: @base-background-color;
  border-radius: @component-border-radius;

  border-style: solid;
  border-width: 1.5px;
  border-color: @text-color-highlight;

  &.auto-hide {
    border-color: @base-background-color;
    box-shadow: 0px 0px 3px @syntax-text-color;
  }
  // Setting margin manually is not recommended, since it's conflict demo:move-hover command
  // So don't do following.
  // margin-top: -2.8em;
  // margin-left: -0.3em;

  // .keystroke-container {
  //
  // }

  .binding {
    font-size: 1.2em;
    vertical-align: middle;
    span {
      display: inline-block;
      padding-left: 0.2em;
      padding-right: 0.2em;
    }
  }

  .keystroke {
    min-width: 3em;
    font-weight: bold;
    color: @text-color-warning;
  }
  .command {
  }

  &.fadeout {
    animation-name: demo-mode-fadeout;
    animation-fill-mode: forwards;
    animation-duration: 1.0s;
    animation-iteration-count: 1;
  }
}
